# Enable logging rc options.
common --announce_rc

# Enable verbose failures for testing only.
build --verbose_failures

# Compiler options.
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17

# Enable logging error output.
test --test_output=errors
test --test_summary=detailed

# Enable using fast cpp for protobufs.
build --define use_fast_cpp_protos=true
